.card-back{
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    li{
        list-style-type: none;
        .card{
            margin: 20px;
            width: 150px;
            height: 220px;

            img{
                width: 150px;
                height: 220px;
            }


            .card-name{
                font-size: 0.8rem;
                font-weight: bold;
            }


        }

    }
}
li:hover{
    background-color: rgb(255, 165, 62);
    border-radius: 10px;
}
